[submodule "app/src/main/cpp/libvgm"]
	path = app/src/main/cpp/libvgm
	url = https://github.com/ValleyBell/libvgm.git
[submodule "app/src/main/cpp/libgme"]
	path = app/src/main/cpp/libgme
	url = https://github.com/libgme/game-music-emu.git
[submodule "app/src/main/cpp/libopenmpt"]
	path = app/src/main/cpp/libopenmpt
	url = https://github.com/OpenMPT/openmpt.git
[submodule "app/src/main/cpp/libkss"]
	path = app/src/main/cpp/libkss
	url = https://github.com/digital-sound-antiques/libkss.git
[submodule "app/src/main/cpp/libADLMIDI"]
	path = app/src/main/cpp/libADLMIDI
	url = https://github.com/Wohlstand/libADLMIDI.git
